<%

user ||= Lato::User.new

%>

<%= turbo_frame_tag dom_id(user, 'form') do %>
  <%= form_with model: user, url: user.persisted? ? lato_users.user_path(user) : lato_users.users_path, data: { turbo_frame: '_self', controller: 'lato-form lato-users-form' } do |form| %>
    <%= lato_form_notices class: %w[mb-3] %>
    <%= lato_form_errors user, class: %w[mb-3] %>

    <% unless params[:redirect_to].blank? %>
      <%= hidden_field_tag :redirect_to, params[:redirect_to] %>
    <% end %>

    <div class="row">
      <div class="col col-12 mb-3">
        <%= lato_form_item_label form, :email %>
        <%= lato_form_item_input_email form, :email, required: true %>
      </div>

      <div class="col col-12 col-md-6 mb-3">
        <%= lato_form_item_label form, :first_name %>
        <%= lato_form_item_input_text form, :first_name, required: true %>
      </div>

      <div class="col col-12 col-md-6 mb-3">
        <%= lato_form_item_label form, :last_name %>
        <%= lato_form_item_input_text form, :last_name, required: true %>
      </div>
    </div>

    <% unless user.persisted?%>
      <div class="row">
        <div class="col col-12 col-md-6 mb-3">
          <%= lato_form_item_label form, :password %>
          <%= lato_form_item_input_password form, :password, required: true, data: { lato_users_form_target: 'password' } %>
        </div>

        <div class="col col-12 col-md-6 mb-3">
          <%= lato_form_item_label form, :password_confirmation %>
          <%= lato_form_item_input_password form, :password_confirmation, required: true, data: { lato_users_form_target: 'passwordConfirmation' } %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <div class="card bg-light">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <button class="btn btn-primary" data-action="click->lato-users-form#generatePassword">
                    <i class="bi bi-shuffle me-2"></i>
                    <%= I18n.t('lato_users.generate_password') %>
                  </button>
                </div>
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-key"></i></span>
                    <input type="text" class="form-control font-monospace" readonly data-lato-users-form-target="generatedPassword" placeholder="...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @available_admin_permissions.any? %>
      <div class="accordion mb-3" id="permissionsAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingPermissions">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePermissions" aria-expanded="false" aria-controls="collapsePermissions">
              <%= I18n.t('lato_users.permissions') %>
            </button>
          </h2>
          <div id="collapsePermissions" class="accordion-collapse collapse" aria-labelledby="headingPermissions" data-bs-parent="#permissionsAccordion">
            <div class="accordion-body">
              <div class="row">
                <% @available_admin_permissions.each_with_index do |permission, index| %>
                  <div class="col-12 col-md-6 <%= 'mb-3' unless index == @available_admin_permissions.size - 1 %>">
                    <%= lato_form_item_input_check form, permission.to_sym, permission.humanize %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="d-flex justify-content-end">
      <%= lato_form_submit form, user.persisted? ? I18n.t('lato_users.cta_update') : I18n.t('lato_users.cta_confirm'), class: %w[btn-success] %>
    </div>

  <% end %>
<% end %>