<%

user ||= Lato::User.new

%>

<%= turbo_frame_tag dom_id(user, 'form') do %>
  <%= form_with model: user, url: user.persisted? ? lato_users.user_path(user) : lato_users.users_path, data: { turbo_frame: '_self', controller: 'lato-form' } do |form| %>
    <%= lato_form_notices class: %w[mb-3] %>
    <%= lato_form_errors user, class: %w[mb-3] %>

    <div class="row">
      <div class="col col-12 mb-3">
        <%= lato_form_item_label form, :email %>
        <%= lato_form_item_input_email form, :email, required: true %>
      </div>

      <div class="col col-12 col-md-6 mb-3">
        <%= lato_form_item_label form, :first_name %>
        <%= lato_form_item_input_text form, :first_name, required: true %>
      </div>

      <div class="col col-12 col-md-6 mb-3">
        <%= lato_form_item_label form, :last_name %>
        <%= lato_form_item_input_text form, :last_name, required: true %>
      </div>
    </div>

    <% unless user.persisted?%>
      <div class="row">
        <div class="col col-12 col-md-6 mb-3">
          <%= lato_form_item_label form, :password %>
          <%= lato_form_item_input_password form, :password, required: true %>
        </div>

        <div class="col col-12 col-md-6 mb-3">
          <%= lato_form_item_label form, :password_confirmation %>
          <%= lato_form_item_input_password form, :password_confirmation, required: true %>
        </div>
      </div>
    <% end %>

    <div class="d-flex justify-content-end">
      <%= lato_form_submit form, user.persisted? ? I18n.t('lato_users.cta_update') : I18n.t('lato_users.cta_confirm'), class: %w[btn-success] %>
    </div>

  <% end %>
<% end %>